<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <script type="text/css" src="stylesheets/style.css"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
<body>
<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>About</h1>
        <p>We are measuring a lazy cat.</p>
    </div>
</div>
</body>
</html>
