<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>

</head>
<body>
<% include ../partials/header %>
<script>
    var phones = <%- JSON.stringify(phones) %>;
    var data = [];

    // place phones as red rectangles
    function placePhones() {
        var svgContainer = d3.select(".floorplan-svg");
        svgContainer.selectAll()
                .data(phones).enter()
                .append("rect")
                .attr("fill", "red")
                .attr("width", 10)
                .attr("height", 10)
                .attr("x", function(e) { return e.x })
                .attr("y", function(e) { return e.y });
        $('svg rect').tipsy({
            html: true,
            title: function() {
                var e = this.__data__;
                var tip = "Location: " + e.place + ", ID: " + e.id;
                return tip;
            }
        });
    }

    function placeDots(){
        var baseline = $("#Baseline option:selected");
        var baselineDescription = baseline.text();
        var baselineNumber = baseline.val();

        var url = "/baseline/" + baselineNumber;
        $.getJSON( url, function( dataFromServer ){
            if (data == undefined) {
                $("#baselineDescription").text("Baseline not available, some error happened");
            } else {
                data = dataFromServer;

                var svgContainer = d3.select(".floorplan-svg");
                svgContainer.selectAll("*").remove();

                // place phones as red rectangles
                svgContainer.selectAll()
                        .data(phones).enter()
                        .append("rect")
                        .attr("fill", "red")
                        .attr("width", 10)
                        .attr("height", 10)
                        .attr("x", function (e) { return e.x })
                        .attr("y", function (e) { return e.y });
                $('svg rect').tipsy({
                    html: true,
                    title: function () {
                        var e = this.__data__;
                        var tip = "Location: " + e.place + ", ID: " + e.id;
                        return tip;
                    }
                });

                // place locations as blue circles
                svgContainer.selectAll()
                        .data(dataFromServer).enter()
                        .append("circle")
                        .attr("fill", "blue")
                        .attr("r", 10)
                        .attr("cx", function (d) {
                            return d.x
                        })
                        .attr("cy", function (d) {
                            return d.y
                        })
                        .classed("locations", true);
                $('svg circle').tipsy({
                    html: true,
                    title: function () {
                        var d = this.__data__;
                        var tip = "Location: " + d.place + ", Phone 0: " + d.averages[0].toFixed(2) + ", Phone 1: " + d.averages[1].toFixed(2) + ", Phone 2: " + d.averages[2].toFixed(2);
                        return tip;
                    }
                });
            }
        })
    }

    function visualizePhoneData(phoneNumber){
        if(data.length == 0){
            $("#phoneDescription").text("Please choose a baseline");
            return;
        }
        var oldTbl = document.getElementById("visualizationTable");
        if(oldTbl) oldTbl.parentNode.removeChild(oldTbl);

        var tbl  = document.createElement('table');
        tbl.id = "visualizationTable";
        tbl.style.width  = '100px';
        tbl.style.border = '1px solid black';

        var color = d3.scale.linear()
                .domain([-30, -111])
                .range(["cyan", "yellow"]);

        var index = 0;
        for(var i = 0; i < 1; i++){
            var tr = tbl.insertRow();
            for(var j = 0; j < 2; j++){
                var td = tr.insertCell();
                td.appendChild(document.createTextNode("Place: " + data[index].place + ", value: " + data[index].averages[phoneNumber].toFixed(2)));
                td.style.border = '1px solid black';
                td.style.backgroundColor = color(data[index].averages[phoneNumber])
                index++;
            }
        }
        $("#phoneDescription").text("You are seeing the data from phone: " + phoneNumber);
        $("#visualize").append( tbl);
    }
</script>

<div class="container">
    <div class="jumbotron">
        <h1>Baseline</h1>
        <p>This is a baseline experiment. We have measured an even grid, and have placed the beacon at different points, to measure the accuracy of bluetooth as a positioning technology.</p>
        <span>
            <select id="Baseline">
                <option value="">Choose baseline</option>
                <% for(var i=1; i < numberOfBaselines + 1; i++) { %>
                <option value="<%= i %>">Baseline <%= i %></option>
                <% } %>
            </select>
            <button type="button" class="btn btn-primary" onclick="placeDots()">Draw</button>
        </span>
        <p id="baselineDescription"></p>
        <svg class="floorplan-svg" height="510" width="510" style="background-color: lightgrey" onload="placePhones()">
        </svg>
        <div id="visualize">
            <span>
                <button type="button" class="btn btn-primary" onclick="visualizePhoneData(0)">Phone 0</button>
                <button type="button" class="btn btn-primary" onclick="visualizePhoneData(1)">Phone 1</button>
                <button type="button" class="btn btn-primary" onclick="visualizePhoneData(2)">Phone 2</button>
            </span>
            <div id="phoneTable">
                <p id="phoneDescription">
                    Choose a phone to see the measured values visualized.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>