<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="javascripts/d3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js"></script>
</head>
<body>
<% include ../partials/header %>
<script>
    var phones = <%- JSON.stringify(dots.phones ) %>;
    var phonesForBaseline = <%- JSON.stringify(dots.phonesForBaseline ) %>;
    var locations = <%- JSON.stringify(dots.locations) %>;
    var phonesData = [];
    var baselineDescription = "This is a baseline experiment. We have measured an even grid, and have placed the beacon at different points, to measure the accuracy of bluetooth as a positioning technology."

    function placeDots(run){
        var text = "";
        if(run == 2){
            phonesData = phonesForBaseline;
            text = baselineDescription;
        } else {
            phonesData = phones;
            text = experimentDescription;
        }
        $("#description").text(text);
        var svgContainer = d3.select(".floorplan-svg");
        svgContainer.selectAll("*").remove();

        // place phones as red rectangles
        svgContainer.selectAll()
                .data(phonesData).enter()
                .append("rect")
                .attr("fill", "red")
                .attr("width", 10)
                .attr("height", 10)
                .attr("x", function(e) { return e.x })
                .attr("y", function(e) { return e.y });
        $('svg rect').tipsy({
            html: true,
            title: function() {
                var e = this.__data__;
                var tip = "Location: " + e.place + ", ID: " + e.id;
                return tip;
            }
        });

        function filterByRun(obj) {
            if ('run' in obj && typeof(obj.run) === 'number' && !isNaN(obj.run) && obj.run === run) {
                return true;
            } else {
                return false;
            }
        }
        var data = locations.filter(filterByRun);

        // place locations as blue circles
        svgContainer.selectAll()
                .data(data).enter()
                .append("circle")
                .attr("fill", "blue")
                .attr("r", 10)
                .attr("cx", function(d) { return d.x })
                .attr("cy", function(d) { return d.y })
                .classed("locations",true);
        $('svg circle').tipsy({
            html: true,
            title: function() {
                var d = this.__data__;
                var tip = "Location: " + d.place + ", ID: " + d.placeID + ", Phone 1: " + d.values[0].toFixed(2) + ", Phone 2: " + d.values[1].toFixed(2) + ", Phone 3: " + d.values[2].toFixed(2);
                return tip;
            }
        });
    }
</script>

<div class="container">
    <div class="jumbotron">
        <h1>Fingerprint</h1>
        <p>This is a map of the points in the apartment which we have fingerprinted. Hovering on a point shows the average RSSI-values for the 3 beacons.</p>
        <span>
            <button type="button" class="btn btn-primary" onclick="placeDots(2)">Baseline</button>
            <button type="button" class="btn btn-primary" onclick="placeDots(1)">First</button>
            <button type="button" class="btn btn-primary" onclick="placeDots(3)">Second</button>
        </span>
        <p id="description"></p>
        <svg class="floorplan-svg" height="590" width="1000" style="background-image: url(images/floorplan.png)"  onload="placeDots(2)">
        </svg>
    </div>
</div>
</body>
</html>