<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <script>
        var places;
        var minTime;
        var maxTime;
        var maxValueForSlider;
        var dotToPlaceIndex = 0;
        var iFrequency = 200; // expressed in miliseconds
        var myInterval = 0;
        var colorCounter = 0;

        function setData(){
            var fingerprint = $("#Fingerprint option:selected");
            var fingerprintDescription = fingerprint.text();
            var fingerprintNumber = fingerprint.val();

            var experiment = $("#Experiment option:selected");
            var experimentDescription = experiment.text();
            var experimentNumber = experiment.val();

            var algorithm = $("#Algorithm option:selected");
            var algorithmDescription = algorithm.text();
            var algorithmNumber = algorithm.val();

            var url = "/place/" + fingerprintNumber + "/" + experimentNumber + "/" + algorithmNumber;
            $.getJSON( url, function( data ) {
                if(data == undefined){
                    $("#dataValue").text( "Combination not available.");
                } else {
                    $("#dataValue").text( fingerprintDescription + " and " + experimentDescription + " and " + algorithmDescription);

                    places = data;
                    minTime = places[0].time;
                    maxTime = places[places.length - 1].time;
                    maxValueForSlider = (maxTime - minTime);

                    $( "#slider" ).slider({
                        range: false,
                        min: 0,
                        max: maxValueForSlider,
                        values: [0],
                        animate: "fast",
                        slide: function(event, ui){
                            var value = ui.values[0];
                            $("#slidevalue").text("Time: " + value);
                            placeDot(places[value]);
                        },
                        slidechange: function(event, ui){
                            var value = ui.values[0];
                            $("#slidevalue").text("Time: " + value);
                            placeDot(places[value]);
                        }
                    });
                    $("#slider").slider( "values", 0, 0 );
                    $("#slidevalue").text("Time: " + 0);
                    placeDot(0);
                }
            });
        }

        function placeDot(timeToPlace){
            if(timeToPlace == 0){dotToPlaceIndex = 0;}
            if(timeToPlace >= (places[places.length - 1].time - minTime)){
                return;
            } else {
                if((places[dotToPlaceIndex + 1].time - minTime) <= timeToPlace){
                    dotToPlaceIndex = dotToPlaceIndex + 1;
                    colorCounter++;
                }
                var colors = ["red", "blue"];
                var color = colors[colorCounter % 2];

                var svgContainer = d3.select(".floorplan-svg");
                svgContainer.selectAll("*").remove();
                var dot = [places[dotToPlaceIndex]];
                // place locations as blue circles
                svgContainer.selectAll()
                        .data(dot).enter()
                        .append("circle")
                        .attr("fill", color)
                        .attr("r", 10)
                        .attr("cx", function(d){return d.x})
                        .attr("cy", function(d){return d.y});
            }
        }

        function startAnimation(){
            if(myInterval > 0) clearInterval(myInterval);  // stop
            myInterval = setInterval("runSlider()", iFrequency);  // run
            $("#speed").text("Currently updates at " + 1000/iFrequency + " hz.");
        }

        function runSlider(){
            var value = $("#slider").slider("values", 0);
            var nextValue = value + 1;
            if(nextValue >= maxValueForSlider){
                stopAnimation();
            }
            $("#slider").slider( "values", 0, nextValue );
            $("#slidevalue").text("Time: " + nextValue);
            placeDot(nextValue);
        }

        function stopAnimation(){
            if(myInterval > 0) clearInterval(myInterval);  // stop
        }

        function resetAnimation(){
            stopAnimation();
            placeDot(0);
            $("#slider").slider("values", 0, 0);
            $("#slidevalue").text("Time: 0");
        }

        function fasterAnimation(){
            stopAnimation();
            iFrequency = iFrequency / 2;
            startAnimation();
        }
        function slowerAnimation(){
            stopAnimation();
            iFrequency = iFrequency * 2;
            startAnimation();
        }
    </script>
</head>
<body>
<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Experiment</h1>
        <p>
            This is visualization of the experiments we have done.
            You can choose which experiment you want to see, and which fingerprints to calculate the positions from.
            Colour changes indicate a new point.
        </p>
        <span>
            <select id="Fingerprint">
                <option value="">Choose fingerprint</option>
                <% for(var i=1; i < counts.fingerprints + 1; i++) { %>
                <option value="<%= i %>">Fingerprint <%= i %></option>
                <% } %>
            </select>
            <select id="Experiment">
                <option value="">Choose experiment</option>
                <% for(var i=1; i < counts.experiments + 1; i++) { %>
                <option value="<%= i %>">Experiment <%= i %></option>
                <% } %>
            </select>
            <select id="Algorithm">
                <option value="">Choose algorithm</option>
                <option value="1">Algorithm 1</option>
                <option value="2">Algorithm 2</option>
                <option value="3">Algorithm 3</option>
            </select>
        </span>
        <span>
            <button type="button" class="btn btn-primary" onclick="setData()">Choose</button>
            <br>
            <div id="dataValue"></div>
        </span>
        <br>

        <span>
            <button type="button" class="btn btn-primary" onclick="startAnimation()">Start</button>
            <button type="button" class="btn btn-primary" onclick="stopAnimation()">Stop</button>
            <button type="button" class="btn btn-primary" onclick="resetAnimation()">Reset</button>
            <button type="button" class="btn btn-primary" onclick="runSlider()">Next</button>
            <button type="button" class="btn btn-primary" onclick="fasterAnimation()">Faster</button>
            <button type="button" class="btn btn-primary" onclick="slowerAnimation()">Slower</button>
            <div id="speed"></div>
            <br>
        </span>
        <br>

        <div id="slider"></div>
        <div id="slidevalue"></div>
        <br>

        <svg class="floorplan-svg" height="590" width="1000" style="background-image: url(images/floorplan.png)"></svg>
    </div>
</div>
</body>
</html>