<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="javascripts/d3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script>
        var places;
        var minTime;
        var maxTime;
        var maxValueForSlider;
        var dotToPlaceIndex = 0;
        var iFrequency = 200; // expressed in miliseconds
        var myInterval = 0;

        function setData(){
            var experiment = $("#Experiment option:selected");
            var experimentDescription = experiment.text();
            var experimentNumber = experiment.val();

            var fingerprint = $("#Fingerprint option:selected");
            var fingerprintDescription = fingerprint.text();
            var fingerprintNumber = fingerprint.val();

            var url = "/place/" + fingerprintNumber + "/" + experimentNumber;
            $.getJSON( url, function( data ) {
                if(data == undefined){
                    $("#dataValue").text( "Combination not available.");
                } else {
                    $("#dataValue").text( fingerprintDescription + " and " + experimentDescription);

                    places = data;
                    minTime = places[0].time;
                    maxTime = places[places.length - 1].time;
                    maxValueForSlider = (maxTime - minTime);

                    console.log("minTime: " + minTime + " maxTime: " + maxTime + " maxValue: " + maxValueForSlider);

                    $( "#slider" ).slider({
                        range: false,
                        min: 0,
                        max: maxValueForSlider,
                        values: [0],
                        animate: "fast",
                        slide: function(event, ui){
                            var value = ui.values[0];
                            $("#slidevalue").text("Time: " + value);
                            placeDot(places[value]);
                        },
                        slidechange: function(event, ui){
                            var value = ui.values[0];
                            $("#slidevalue").text("Time: " + value);
                            placeDot(places[value]);
                        }
                    });
                    $("#slider").slider( "values", 0, 0 );
                    $("#slidevalue").text("Time: " + 0);
                    placeDot(0);
                }
            });

        }

        function placeDot(timeToPlace){
            if(timeToPlace == 0){dotToPlaceIndex = 0;}
            if(timeToPlace >= (places[places.length - 1].time - minTime)){
                return;
            } else {
                if((places[dotToPlaceIndex + 1].time - minTime) <= timeToPlace){
                    dotToPlaceIndex = dotToPlaceIndex + 1;
                }
                var svgContainer = d3.select(".floorplan-svg");
                svgContainer.selectAll("*").remove();
                var dot = [places[dotToPlaceIndex]];
                // place locations as blue circles
                svgContainer.selectAll()
                        .data(dot).enter()
                        .append("circle")
                        .attr("fill", "blue")
                        .attr("r", 10)
                        .attr("cx", function(d){return d.x})
                        .attr("cy", function(d){return d.y});
            }
        }

        function startAnimation(){
            if(myInterval > 0) clearInterval(myInterval);  // stop
            myInterval = setInterval("runSlider()", iFrequency);  // run
            $("#speed").text("Currently updates at " + 1000/iFrequency + " hz.");
        }

        function runSlider(){
            var value = $("#slider").slider("values", 0);
            var nextValue = value + 1;
            if(nextValue >= maxValueForSlider){
                stopAnimation();
            }
            $("#slider").slider( "values", 0, nextValue );
            $("#slidevalue").text("Time: " + nextValue);
            placeDot(nextValue);
        }

        function stopAnimation(){
            if(myInterval > 0) clearInterval(myInterval);  // stop
        }

        function resetAnimation(){
            stopAnimation();
            placeDot(0);
            $("#slider").slider("values", 0, 0);
            $("#slidevalue").text("Time: 0");
        }

        function fasterAnimation(){
            stopAnimation();
            iFrequency = iFrequency / 2;
            startAnimation();
        }
        function slowerAnimation(){
            stopAnimation();
            iFrequency = iFrequency * 2;
            startAnimation();
        }
    </script>
</head>
<body>
<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Experiment</h1>
        <p>
            This is visualization of the experiments we have done.
            You can choose which experiment you want to see, and which fingerprints to calculate the positions from.
        </p>
        <span>
            <select id="Fingerprint">
                <option value="">Choose fingerprint</option>
                <option value="2">Base line</option>
                <option value="1">Fingerprint 1</option>
                <option value="3">Fingerprint 2</option>
            </select>
            <select id="Experiment">
                <option value="">Choose experiment</option>
                <% for(var i=1; i < counts.experiments + 1; i++) { %>
                    <option value="<%= i %>">Experiment <%= i %></option>
                <% } %>
            </select>
        </span>
        <span>
            <button type="button" class="btn btn-primary" onclick="setData()">Choose</button>
            <br>
            <div id="dataValue"></div>
        </span>
        <br>

        <span>
            <button type="button" class="btn btn-primary" onclick="startAnimation()">Start</button>
            <button type="button" class="btn btn-primary" onclick="stopAnimation()">Stop</button>
            <button type="button" class="btn btn-primary" onclick="resetAnimation()">Reset</button>
            <button type="button" class="btn btn-primary" onclick="runSlider()">Next</button>
            <button type="button" class="btn btn-primary" onclick="fasterAnimation()">Faster</button>
            <button type="button" class="btn btn-primary" onclick="slowerAnimation()">Slower</button>
            <div id="speed"></div>
            <br>
        </span>
        <br>

        <div id="slider"></div>
        <div id="slidevalue"></div>
        <br>

        <svg class="floorplan-svg" height="590" width="1000" style="background-image: url(images/floorplan.png)"></svg>
    </div>
</div>
</body>
</html>