<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="javascripts/d3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        var places = <%- JSON.stringify(dots.places) %>;
        var min = places[0].time;
        var max = places[places.length - 1].time;
        var maxVal = (max - min);

        function placeDot(dotToPlace){
            var svgContainer = d3.select(".floorplan-svg");
            svgContainer.selectAll("*").remove();
            var dot = [dotToPlace];
            // place locations as blue circles
            svgContainer.selectAll()
                    .data(dot).enter()
                    .append("circle")
                    .attr("fill", "blue")
                    .attr("r", 10)
                    .attr("cx", function(d) { return d.x })
                    .attr("cy", function(d) { return d.y });
        }

        $(function() {
            $( "#slider" ).slider({
                range:false,
                min: 0,
                max: maxVal,
                values: [0],
                slide: function( event, ui ) {
                    var value = ui.values[0];
                    $("#slidevalue").text("Value: " + value);

                    placeDot(places[value]);
                }
            });
        });

    </script>
</head>
<body>
<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Experiment</h1>
        <p>
            This is a map of the points in the apartment which we have fingerprinted.
            We need to make some cool visualization of our data.
            I imagine some kind of bar with the time, and a dot on the map, showing  where the cat is at a given time.
        </p>
        <div id="slider"></div>
        <div id="slidevalue">
            Value: 0
        </div>
        <svg class="floorplan-svg" height="590" width="1000" style="background-image: url(images/floorplan.png)" onload="placeDot(places[0])"></svg>
    </div>
</div>
</body>
</html>