<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <% include ../partials/header %>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Experiment</h1>
        <p>This is a map of the points in the apartment which we have fingerprinted.
            We need to make some cool visualization of our data.
            I imagine some kind of bar with the time, and a dot on the map, showing  where the cat is at a given time.</p>
    </div>
</div>
</body>
</html>