<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <% include ../partials/header %>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Fingerprint</h1>
        <p>This is a map of the points in the apartment which we have fingerprinted. Clicking on a point shows the RSSI-values for the 3 beacons.</p>
    </div>
</div>
</body>
</html>