<!DOCTYPE html>
<html>
<head>
    <title>Cattivity</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="javascripts/fingerprint.js"></script>
    <script type="text/javascript" src="javascripts/d3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.min.js"></script>
</head>
<body>
<% include ../partials/header %>

<div class="container" onload="placeDots()">
    <div class="jumbotron">
        <h1>Fingerprint</h1>
        <p id="las">This is a map of the points in the apartment which we have fingerprinted. Hovering on a point shows the average RSSI-values for the 3 beacons.</p>
        <svg class="floorplan-svg" height="590" width="1000" style="background-image: url(images/floorplan.png)" onload="placeDots()">
        </svg>
    </div>
</div>
</body>
</html>