<!DOCTYPE html>
<html>
<head>
  <title>Cattivity</title>
  <script type="text/css" src="stylesheets/style.css"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
  <body>
  <% include ../partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1>Cattivity</h1>
        <p>This is the landing page for our IoT project. We use bluetooth to track and measure the activity of an indoor cat.</p>
        <br>
        <p>We have finger printed the apartment. This can be found <a href="fingerprint"> here</a></p>
        <p>We have made an experiment. This can be found <a href="experiment"> here</a></p>
      </div>
    </div>
  </body>
</html>
